* {
  margin: 0;
  padding: 0;
}
.logo-docplanner {
  width: 300px;
  height: 100px;
}
.barrefixe {
  position: fixed;
  display: flex;
}
.nav-item {
}
.dropdown-content {
}

/* Extra small devices */
@media (max-width: 576px) {
  /* ... */
}
/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 768px) {
  /* ... */
}
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 992px) {
  /* ... */
}
/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1200px) {
  /* ... */
}
/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
  /* ... */
}
